.button {
  border-radius: 4px;
  background-color: rgb(124, 95, 254);
  padding: 16px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.button:hover {
  transform: scale(1.05);
}
