.personInfo {
  padding: 186px 0 84px 0;
}

.wrapper {
  display: flex;
  gap: 145px;
  justify-content: center;
  align-items: center;
}

.wrapper > img {
  height: 520px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 480px;
  width: 100%;
}
