.projectInfo {
  padding: 84px 0;
}

.wrapper {
  display: flex;
  gap: 145px;
  justify-content: center;
  align-items: center;
}

.wrapper > img {
  width: 500px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 480px;
  width: 100%;
}

.wrapper.odd {
  flex-direction: row; /* Картинка слева */
}

.wrapper.even {
  flex-direction: row-reverse; /* Картинка справа */
}
