.presentation {
    max-width: 100vw;
    width: 100%;
    background-color: #2B2A2A;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 95px;
    padding: 100px 0;

    &>h2{
        text-transform: uppercase;
        font-size: 150px;
        font-weight: 700;
        line-height: 150px;
        max-width: 874px;
        width: 100%;
        color: #7C5FFE;
        cursor: default;
    }
}